.modal {
    position: fixed;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 1.5s ease-out, transform 0.5s;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }

#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.jpg") left 10% bottom 80%/cover no-repeat border-box,
    #ff1b68;
    width: 100vw;
    height: 33vh;
    position: relative;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 2%;
    left: 1%;
    font-size: 1.6rem;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}
/* 
.plan_list {
    text-align: center;
} */

.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
}

.plan--highlighted {
    background-color: #19b84c;
    color: white;
}

.plan__annotation {
    color: green;
    background-color: white;
    padding: 0.5rem 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: rgb(133, 133, 133)
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.plan__features li {
    margin: .7rem 0;
}



#key-features {
    background-color: #ff1b68;
    margin-top: 5rem;
    padding: 0.5rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key_feature__image {
    background-color: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}

.key_feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key_feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key_feature__description {
    font-weight: bold;
    color: white;
}


@media (min-width: 40rem) and (min-height: 40rem) {
    #product-overview {
        height: 40vh;
        background-position: 50% 25%;
    }
    #product-overview h1 {
        font-size: 3rem;
    }
}

@media (min-width: 40rem){
    .plan_list {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .plan {
        display: flex;
        width: 30%;
        min-width: 13rem;
        max-width: 22rem;
        flex-direction: column;
        justify-content: center;
        height: 28rem;
    }
    .key_feature__list {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        height: 32rem;
        z-index: 50;
    }
    .key_feature {
        width: 30%;
        vertical-align: top;
        max-width: 25rem;
    }
}