.testimonial {
    font-size: 1.2rem;
  }
  
.testimonial__list {
    width: 80%;
    margin: auto;
  }
  
.testimonial:first-of-type {
    margin-top: 6rem;
  }

.testimonial__image-container {
    width: 60%;
    max-width: 40rem;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
    transform: skewX(20deg);
    overflow: hidden;
}

.testimonial__image {
    width: 100%;
    vertical-align: top;
    transform: skew(-20deg) scaleX(1.4);

  }

#customer-1:hover .testimonial__image-container {
  animation: flip-customer 1s ease-out;
}

.testimonial__info {
    text-align: right;
    padding: 0.9rem;
  }
  
#customer-2.testimonial {
    text-align: right;
  }
  
#customer-2 .testimonial__info {
    text-align: left;
  }

.testimonial__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
  }
  
.testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
  }
  
.testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  
.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
    color: #7a7a7a;
  }
  
.testimonial__text {
    margin: 0.2rem;
  }
  
@media (min-width: 40rem) {
    .testimonial {
      font-size: 1.2rem;
      margin: 3rem auto;
      max-width: 1500px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .testimonial__list {
      width: 80%;
      margin: auto;
    }
  
  .testimonial__image-container {
      width: 65%;
      max-width: 580px;
      box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
  }
  
  .testimonial__image {
      width: 100%;
      vertical-align: top;
    }
    
  .testimonial__info {
      text-align: right;
      padding: 0.9rem;
      display: inline-block;
      vertical-align: middle;
      width: 30%;
    }
      
  #customer-2.testimonial {
    text-align: right;
  }

  #customer-2 .testimonial__info {
    text-align: left;
  }

  }

  @keyframes flip-customer {
    0% {
      transform: rotateY(0deg) skew(20deg);
    }
    50% {
      transform: rotateY(160deg) skew(20deg);
    }
    100% {
      transform: rotateY(360deg) skew(20deg);
    }
  }