

.background {
    background:url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    
}

.plan-card {
    background-color: rgba(205, 240, 205, 0.95);
    border: 3px solid black;
    width: 80%;
    margin: 1rem 0;
    border-left: none;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.plan-card:first-of-type {
    margin-top: 4rem;
}

.plan_badge {
    color: black;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0.5rem;
    font-size: .8rem;
    color: white;
    background-color: #ff5454;
    z-index: 10;
    transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
    transform-origin: center;
    width: 12rem;
    text-align: center;
}

.plan-card:hover,
.plan-card:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-right : 3px solid red;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    animation: push-up 1s ease-out forwards;
}

.plan-card a {
    text-decoration: none;
    display: block;
    padding: 2rem;
}

.premium-plan-card {
    background-color: rgba(12, 70, 31, 0.95);
}

.plan-card__title {
    color: black;
}

.plan-card__choice {
    color: rgb(180, 178, 178);
}

.plan-card a {
    text-decoration: none;
    color: black;
}

.plan-card__description {
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 2px 2px 7p rgb(185, 180, 180);
    text-decoration: none;
    color: green
}

.clear-fix {
    clear: both;
}

#free {
    float: right;
}

#free {
    border-right: none;
    border-left: 3px solid black;
}
#free:hover,
#free:active {
    border-left: 3px solid red;
}

.premium-plan-card h1 {
    color: white;
}


@media (min-width: 40rem) {
    main {
      max-width: 1500px;
    }
}

@media (min-width: 1500px) {
    .plan-card {
        border: 3px solid black;
        margin: 1rem auto;
    }
    .plan-card:hover,
    .plan-card:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border: 3px solid red;
    }
    #free {
        border: 3px solid black;
    }
    #free:hover,
    #free:active {
        border: 3px solid red;
    }
}

@keyframes push-up {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-1.5rem)
    }
    100% {
        transform: translateY(-1rem)
    }
}